.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 !important;
    background-color: #eeeeee;
    font-size: 13px;
}

.keterangan2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.small-box {
    min-height: 90px;
}

.logo {
    width: 39%;
    float: left;
    /*border: 1px solid #eee;*/
}

.text {
    width: 59%;
    float: left;
    padding-left: 5px;
    text-align: center;
    height: 100%;
    /*border: 1px solid #eee;*/
}

.img {
    width: 80%;
    height: 80%;
    border-radius: 50px;
    border: 3px solid #eee;
    background: #eee;
}

.sub-text {
    font-size: 9pt !important;
}

.head-text {
    font-size: 17pt !important;
}

.total {
    text-align: center;
    width: 35%;
    margin: 0 auto;
    margin-top: 10px;
    color: #eee;
    font-weight: bold;
}

.col-box{
    cursor: pointer;
}

.small-box {
    border-radius: 5px;
}

.small-box:hover{
    box-shadow : 0px 5px 8px rgba(0,0,0,0.5); 
}

.col-head-1{
    width: 5%; 
}
.col-head-2{
    width: 35%;
}
.col-head-3{
    width: 20%;
}
.col-head-4{
    width: 20%;
}
.col-head-5{
    width: 20%;
}
.col-1{
    width: 5%;
}
.col-2{
    width: 35%;
}
.col-3{
    width: 20%;
}
.col-4{
    width: 20%;
}
.col-5{
    width: 20%;
}
.sub-col-1{
    width: 45px;
    min-height: 63px;
    vertical-align: middle;
}
.sub-col-2{
    width: 100px;
    min-height: 63px;
    vertical-align: middle;
}
.sub-col-3{
    width: 617px;
    min-height: 63px;
    vertical-align: middle;
}
.sub-col-4{
    width: 98px;
    min-height: 63px;
    vertical-align: middle;
}
.head-col-1{
    width: 45px;
    font-weight: bold;
}
.head-col-2{
    width: 100px;
    font-weight: bold;
}
.head-col-3{
    width: 617px;
    font-weight: bold;
}
.head-col-4{
    width: 98px;
    font-weight: bold;
}

.bulat {
    padding: 5px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border:0px;
    border: 2px solid #eee;
}

.text-white {
    color: #eee;
}

.keterangan label {
    font-size: 12pt;
}

@media only screen and (max-width: 520px) {
    .bulat {
        padding: 5px;
        border-radius: 50px;
        width: 15px;
        height: 15px;
        border:0px;
    }

    .keterangan label {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 400px) {
    .bulat {
        padding: 5px;
        border-radius: 50px;
        width: 10px;
        height: 10px;
        border:0px;
    }

    .keterangan label {
        font-size: 7pt;
    }
}

.oren {
    background: #f39c12 !important;
    color: #fff;
}

.black {
    background: #222323 !important;
    color: #fff;
}

.merahpudar {
    background: #dd4b39 !important;
    color: #fff;
}

.hijau {
    background: #00a65a !important;
    color: #fff;
}

.biru {
    background: #3c8dbc !important;
    color: #fff;
}

.mytable tr td {
  cursor: pointer;
}

.form-mail {
	position: absolute;
	z-index: 9;
	right: 0;
	bottom: 0;
}

.text-middle {
	vertical-align: middle;
}

.box-black {
	border-top: #191919;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.bg-dark {
	background: #3a3a3a;
	color: #fff;
	border-radius: 5px;
}

@media (max-width: 768px) {
  .form-mail {
		z-index: 9991;
		right: 0;
		bottom: 0;
	}
}

.navbar-custom {
    float:left;
    color: #fff;
    padding-top:5px;
    padding-left:15px;
    font-size:18px;
    line-height:20px
}

.navbar-custom:hover {
    float:left;
    color: #fff;
    padding-top:5px;
    padding-left:15px;
    font-size:18px;
    line-height:20px
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a6a5a5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4); 
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.font-body{
    font-size: 12pt !important;
}

.font-head-body{
    font-size: 14pt;
    font-weight: bold;
}

#navbar-collapse {
    opacity: 0;
}

.search {
    display: none;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 740px) {
    .col-box {
        min-height : 110px;
    }
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

    .logo {
        width: 25%;
    }

    .text {
        width: 75%;
    }

    .sub-text {
        font-size: 9pt;
    }
}
@media (min-width: 769px) {
    .col-box {
        min-height : 113px;
    }
}
@media (min-width: 965px) {
    .col-box {
        min-height : 110px;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }

    .col-box {
        min-height : 113px;
    }

    .sub-text {
        font-size: 10pt;
    }
}
@media (min-width: 1025px) {
    .col-box {
        min-height : 120px;
    }
}
@media (min-width: 1108px) {
    .col-box {
        min-height : 121px;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }

    .sub-text {
        font-size: 11pt;
    }
}

@media (max-width: 768px) {
    .main-header {
        width: 100%;
    }

    .total {
        width: 100%;
        font-size: 8pt;
    }

    .bulat {
        border: 1px solid #eee;
    }

    .content-wrapper {
        
    }

    .navbar-custom-menu {
        opacity: 0;
    }

    .keterangan2 {
        width: 100%;
        text-align: center;
        font-size: 9pt;
        margin-top: 5px;
    }

    .cari {
        display: none;
    }

    .navbar-form{
        padding: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .search{
        display: block;
    }

    #navbar-collapse {
        opacity: 100;
    }

    .font-body{
        font-size: 10pt;
    }

    .font-head-body{
        font-size: 12pt;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 20%;
    }

    .text {
        width: 80%;
        line-height: 13px;
    }

    .sub-text {
        font-size: 8pt;
    }

    .small-box {
        min-height: 95px;
        vertical-align: middle;
    }
}

