{% extends  'base.html' %}
{% load static %}
{% block content %}

<!-- <div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-pen icon-gradient bg-mean-fruit"></i>
            </div>
            <div>Credential List
                <div class="page-title-subheading">Cred</div>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">List Credential
                <div class="btn-actions-pane-right">
                    <a href="{% url 'cred_add' %}">
                        <button class="btn btn-success mx-auto mx-md-0 text-white">Add Cred</button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">IP</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Password</th>
                        <!-- <th class="text-center">Owner</th> -->
                        <th class="text-center">Description</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cred in cred_list %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ cred.type }}</td>
                        <td class="text-center">{{ cred.ip_address }}</td>
                        <td class="text-center">{% if cred.username %}{{ cred.username }}{%else%}---{%endif%}</td>
                        <td class="text-center">{% if cred.password %}<span id="cred-password-{{ cred.id }}">{{ cred.password }}</span>
                            <span id="password-{{ cred.id }}" toggle="#cred-password-{{ cred.id }}" class="fa fa-fw fa-eye" style="float: right;"></span>{%else%}---{%endif%}</td>
                        <!-- <td class="text-center">{{ cred.owner }}</td> -->
                        <td class="text-center">{{ cred.description }}</td>
                        <td class="text-center">
                            <a href="{% url 'cred_edit' cred.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-cred-{{ cred.id }}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}