{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-tempting-azure"></i>
            </div>
            <div>Data Credential
                <div class="page-title-subheading">
                    Username and Password
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <div tabindex="-1" role="menu" aria-hidden="true">
                    <div class="col-sm-12 d-flex">
                        <a href="{% url 'cred_add' %}">
                            <button class="btn btn-success mx-auto mx-md-0 text-white">Add Credential</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Type</th>
                <th class="text-center">IP</th>
                <th class="text-center">Hostname</th>
                <th class="text-center">Username</th>
                <th class="text-center">Password</th>
                <th class="text-center">Description</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for cred in cred_list %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ cred.type }}</td>
                    <td class="text-center">{{ cred.ip__ip_address }}</td>
                    <td class="text-center">{{ cred.ip__hostname }}</td>
                    <td class="text-center">{% if cred.username %}{{ cred.username }}{%else%}---{%endif%}</td>
                    <td class="text-center">{% if cred.password %}<span id="cred-password-{{ cred.id }}">{{ cred.password }}</span>
                        <span id="password-{{ cred.id }}" toggle="#cred-password-{{ cred.id }}" class="fa fa-fw fa-eye" style="float: right;"></span>{%else%}---{%endif%}</td>
                    <td class="text-center">{{ cred.description }}</td>
                    <td class="text-center">
                        <a href="{% url 'cred_edit' cred.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-cred-{{ cred.id }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}