{% extends  'base.html' %}
{% load static %}
{% block content %}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-users icon-gradient bg-mean-fruit"></i>
            </div>
            <div>Group List
                <div class="page-title-subheading">Group</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Group List
                {% if user.is_staff == True %}
                <div class="btn-actions-pane-right">
                    <a href="{% url 'group_add' %}">
                        <button class="btn btn-success mx-auto mx-md-0 text-white">Add Group</button>
                    </a>
                </div>
                {% else %}{% endif %}
            </div>
            <div class="card-body">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Group Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in group_list %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ group.name}}</td>
                        <td class="text-center">{{ group.description }}</td>
                        <td class="text-center">
                            {% if group.is_active == 1 %}
                                <button class="btn btn-success mx-auto mx-md-0 text-white">Active</button>
                            {% else %}
                                <button class="btn btn-secondary mx-auto mx-md-0 text-white">OFF</button>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if group.is_active == 0 %}
                                <a href="{% url 'group_active' group.id %}" class="btn btn-success btn-sm">Set Active</a>
                                <a href="{% url 'group_edit' group.id %}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{% url 'group_delete' group.id %}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-group-{{ group.id }}">Delete</a>
                            {% else %}
                                <a href="#" class="btn btn-success btn-sm disabled">Set Active</a>
                                <a href="#" class="btn btn-primary btn-sm disabled">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm disabled">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}