{% extends  'base.html' %}
{% load static %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-global icon-gradient bg-tempting-azure"></i>
            </div>
            <div>Data IP Address
                <div class="page-title-subheading">All IP Address on network 
                    {% for subnet in sidebar_subnets %}
                        {% if subnet.id == id_subnet %}
                            {{ subnet.ip_network }} / {{ subnet.netmask }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="d-inline-block dropdown">
                <div tabindex="-1" role="menu" aria-hidden="true">
                    <div class="col-sm-12 d-flex">
                        <a href="{% url 'ip_add' %}">
                            <button class="btn btn-success mx-auto mx-md-0 text-white">Add IP address</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">IP Address</th>
                <th class="text-center">Hostname</th>
                <th class="text-center">Operating System</th>
                <th class="text-center">Description</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for ip in ips %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ ip.ip_address }}</td>
                    <td class="text-center">{{ ip.hostname }}</td>
                    <td class="text-center">{% if ip.os %}{{ ip.os }}{%else%}-----{%endif%}</td>
                    <td class="text-center">{{ ip.description }}</td>
                    <td class="text-center">
                        <a href="{% url 'ip_edit' ip.id%}"><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                        <a href="#" data-toggle="modal" data-target="#delete-ip-{{ ip.id }}"><i class="fas fa-trash-alt"></i></a></td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}