{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ app_name }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/AdminLTE.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/_all-skins.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <script src="{% static 'assets/js/jquery.min.js'%}"></script>

  <link rel="icon" href="logo_originals.png" type="image/png" sizes="16x16">
</head>

<body class="hold-transition skin-blue-light layout-top-nav">
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container" style="width: 100%;">
          <div class="navbar-header">
            <a href="" class="navbar-custom"><b>{{ app_name }}<br>{{ company_name }}</b><br><small><span style="font-size: 10pt">{{ company_address }} Telp. {{ company_telp }}</span></small></a>
          </div>
          <hr style="margin: 0px;width:100%;margin-bottom: 10px;">
          </hr>
        </div>
      </nav>
    </header>
    <div class="content-wrapper">
      <div class="container" style="width: 100%;padding:10px;padding-left: 20px;padding-right: 20px;">
        <div class="row">
          {% for app in app_list %}
          <div class='col-lg-15 col-sm-4 col-xs-6 col-box' id='{{app.protocol}}://{% if app.domain %}{{app.domain}}{%else%}{{ app.ip }}:{{ app.port }}{%endif%}' onclick='get(this.id)' style='padding-left: 8px;padding-right: 8px;padding-bottom: 8px; padding-top: 8px;'>
            <div class='small-box bg-green' style='margin-bottom: 0px;'>
              <div class='inner'>
                <div class='logo'>
                  <img src='{{ app.image.url }}' class='img' />
                </div>
                <div class='text'>
                  <b class='head-text'>{{ app.name }}</b>
                  <hr style='width:100%;margin:0px;'>
                  </hr>
                  <span class='sub-text'>{{ app.group }} - {{ app.description }}</span>
                </div>
                <!-- <div class='clearfix'></div> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <script type="text/javascript">
          function get(link) {
            window.open(link, '_blank');
          }
        </script>
      </div>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        {% if user.is_authenticated %} 
          Go to <a target="_blank" href="{% url 'dashboard' %}"><b>dashboard</b></a> to manage this application 
        {% else %} 
          <a target="_blank" href="{% url 'login' %}"><b>Login</b></a> to manage this application 
        {% endif %}
        
      </div>
      <strong>Copyright &copy; {{ year }} <a href="{{ company_website }}" target="blank">{{ company_short_name }}</a></strong>
    </footer>
  </div>
  <script src="{% static 'assets/js/adminlte.min.js'%}"></script>
  </script>
  </body>
  </html>